# IDEs
.idea/
.vscode/

# Python
.pytest_cache/
.coverage
__pycache__/
*.py[cod]
*$py.class
.hypothesis/
.python-version

# Temporal files
audio_mp3_folder/*.mp3
audio_wav_folder/*.wav
audio_text_folder/*.txt